<h2><%= Comment.model_name.human %></h2>

<% if commentable.comments.present? %>
  <ul>
    <% commentable.comments.includes(:user).each do |comment| %>
      <li>
        <%= comment.contents %>
        <%= comment.user.name_or_email %>
        <%= l comment.created_at %>
        <% if comment.user == current_user %>
          <%= link_to t('views.common.edit'), [:edit, commentable, comment] %>
          <%= link_to t('views.common.destroy'), [commentable, comment], method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <%= 'まだコメントは投稿されていません' %>
<% end %>
  <%= form_with model: [commentable, commentable.comments.new], local: true do |f| %>
  <%= f.text_field :contents, required: true %>
  <%= f.submit %>
<% end %>
